extends ./layouts/default

block title
    title koa douban 首页

block content
    .container
    .row
        .col-md-8
            h1 hello world #{you}
            p this is #{me}
        .col-md-4
            h3 测试魔板中间价